.top {
    width: 918px;

    h2 {
        margin-right: 50px;
        font-weight: 900;
        margin: 0 50px 0 0;
    }

    .top-btn {
        font-weight: 900;

        span {
            color: $main-color;
        }
    }
}

.tools {
    li {
        color: $main-color;
    }

    a {
        display: block;
        height: 24px;
    }
}

.content {
    width: 918px;
}

.collection {
    width: 320px;
}

.collection-btn {
    margin-bottom: 6px;

    span {
        color: $main-color;
    }
}

.collection-list {
    font-size: 12px;

    .work {
        background-color: $bg-color-light;
    }

    li {
        padding: 12px;

        &:hover {
            cursor: pointer;
        }
    }

    h3 {
        font-size: 16px;
        font-weight: 900;
    }

    span {
        color: $text-color-light;
    }
}

.article {
    width: 584px;
    position: relative;

    .work {
        background-color: $bg-color-light;
    }
}

.card-header {
    padding: 12px 16px;

    p {
        font-size: 12px;
        margin: 0;
    }

    h3 {
        font-size: 16px;
        font-weight: 900;
    }
}

.card-user {
    margin-bottom: 15px;

    .card-avatar {
        width: 40px;
        height: 40px;
        background-image: url('../images/emilywang.jpeg');
        background-position: center center;
        background-size: cover;
    }

    .card-info {
        .card-name {
            font-weight: 900;
        }

        .card-times {
            font-size: 12px;
            color: $text-color-light;
        }
    }
}

.card-content {
    border-bottom: 1px solid $bg-color-dark;

    .mark {
        display: inline-block;
        color: $main-color;
        background-color: $bg-color-light;
        font-family: 'Roboto Mono', monospace;
    }

    button {

        span {
            display: block;
        }
    }
}

.admin-user {
    margin-top: -16px;
    margin-bottom: 15px;

    .admin-avatar {
        width: 40px;
        height: 40px;
        background-image: url('../images/andychen.jpeg');
        background-position: center center;
        background-size: cover;
    }

    .admin-info {
        .admin-name {
            font-weight: 900;
        }

        .admin-times {
            font-size: 12px;
            color: $text-color-light;
        }
    }
}

.admin-content {
    span {
        display: inline-block;
        color: $main-color;
        background-color: $bg-color-light;
        font-family: 'Roboto Mono', monospace;
    }
}

.edit-card {
    border-top: 1px solid $bg-color-dark;

    ul {
        margin: 0;
        padding-left: 10px;

        li {
            height: 24px;
        }
    }
}

.edit-content {
    width: 100%;
    height: 263px;
    border: 0;
}